/* RED.CSS */

/* INTRO */

.intro {
    color: #ffffff;
	background: url(../../img/bg-red.jpg) no-repeat bottom center scroll;
    background-color: #de6868;
}

.brand-heading {
	color:#ffffff;
}

.intro-text {
	color:#de6868;
}

/* FEATURES */

#features i {
	color:#d5d5d5;
	
}

#features i:hover {
	color:#de6868;
}


/* INFO */

#info ul li i {
	color:#de6868;
}


/* SCREENSHOTS */

#screenshot-carousel i {
color: #de6868;
}

#screenshot-carousel a:hover {
	color:red;
}


/* TEAM */

#team {
	background:#f2f2f2;
}


/* FOOTER */

footer {
	color:#ffffff;
	background:#de6868;
}

footer a {
	color:#ffffff;
}

footer a:hover {
	color:#c74848;
}


/*  MISC. 
    NAVIGATION */

.navbar-custom {
	color:#ffffff;
}

.navbar-custom a {
	color:#ffffff;
}

.navbar-custom .navbar-nav > li > a:hover {
	color:#c74848;
}

.navbar-custom .navbar-toggle {
	background:#fff;
}

.navbar-custom .navbar-toggle .icon-bar {
	background:#de6868;
}

.top-nav-collapse {
	background-color: #de6868;
}


/* BUTTON */

.button-border-light {
	border: 1px solid #ffffff;
	color: #ffffff;
}

.button-border-light:hover,
.button-border-light:active {
	color: #de6868;
	background: #ffffff;
	text-decoration:none;
}

.button-border-dark {
	border: 1px solid #de6868;
	color: #de6868;
}

.button-border-dark:hover,
.button-border-dark:active {
	color: #ffffff;
	background: #de6868;
	text-decoration:none;
}



/* FORM ELEMENTS */

input {
	color:#666666;
	background: rgba(255,255,255, .7);
}


/* SOCIAL BUTTONS */

.social a {
	color:rgba(255,255,255, 1);
} 


.social a:hover {
	color:#c74848;
}

.social .fa-inverse {
	color: #de6868;
}


/* TWITTER */

.twitter {
	color:#666666;
}

.twitter .tweetList a {
	color:#de6868;
}

.twitter i {
	color:#666;
}

.twitter i:hover {
	color:#de6868;
}


/* OTHERS */

.parallax {
	color:#ffffff;
	background-color:#de6868;
	background:url(../../img/bg-red.jpg) 50% 0 no-repeat fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
}

.parallax h2 {
	color:#ffffff;
}


.hr {
	border-top:1px solid #de6868;
}


/* PRELOAD */

.preload {
	background:#de6868;
}

.spinner > div {
	background-color:#ffffff;
}